# Node
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# Env
.env
.env*.local
mobile/.env
backend/.env

# Typescript
*.tsbuildinfo

# Generated folders
ios/
android/
